# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# SQLite database
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
